



body{
    padding:0;
    margin: 0;
    font-family: sans-serif;
    background-color:rgb(175, 205, 224);
   
}

.header{
    text-align: center; 
    background-color:#2d82bb;
    padding:20px;
    margin:0;
    color:#fff;
    font-size: 15px;
}

.forgot-psswrd{
    margin:0 0 10px;
    font-size: 13px;
}

.forgot-password-form{
    width:20rem;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
    background: white;
    padding:20px;
    margin:8% auto 0;
}

.forgot-password-form h2{
    color:#3489aa;
    font-size: 18px;
    margin-bottom: 10px;
    text-align: center;
}



.input-box{
    padding:10px;
    margin:20px 2px;
    width:45%;
    border: 1px solid #999;
    border-radius: 5px;

}  

.forgot-btn{
    color:#fff;
    width:20%;
    padding:10px;
    border-radius:5px;
    font-size: 15px;
    margin:0 10px;
    border:none;
    outline:none;
    cursor:pointer;
    background-color: #1c8adb

}
.forgot-btn:hover,
.forgot-btn:active {
  background-color: rgb(8, 123, 168);
  color: #ffffff;
}